.tutor-lms-openid-login {
  margin: 1em;
  border: 1px solid blue;
  padding: 0 1em;
  border-radius: 5px;
}

.tutor-lms-openid-login .button,
.tutor-lms-openid-login a.button {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.tutor-lms-openid-login + .tutor-lms-openid-login {
  margin-top: 10px;
}

